:root {
  /* #Font */
  --family : "Montserrat", sans-serif;

   /* Primary */
   --primary-gradient: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));

   /* Neutral */
   --very-light-grayish-blue: hsl(240, 78%, 98%);
   --light-grayish-blue: hsl(234, 14%, 74%);
   --grayish-blue: hsl(233, 13%, 49%);
   --dark-grayish-blue: hsl(232, 13%, 33%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  cursor: pointer;
  border: 0;
  outline: none;
}
ul {
  list-style: none;
}
p {
  font-weight: 700;
}

body {
  font-family: var(--family);
  font-size: 15px;
  background-color: var(--very-light-grayish-blue);
  background-image: url(./images/bg-top.svg);
  background-repeat: no-repeat;
  background-position: top 0 right -250px;
}
/* flex-group */
.flex-group {
  display: flex;
}

/* Header */
.header {
  padding: 4rem 1rem;
  text-align: center;
}
.header h1 {
  color: var(--dark-grayish-blue);
  margin-bottom: 1rem;
}
.header .flex-group {
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.header .flex-group p {
  color: var(--light-grayish-blue);
  font-weight: 700;
}
.btn_toggle {
  border-radius: 100vmax;
  padding: .25rem  1.75rem .25rem .25rem;
  transition: padding 250ms ease-in-out;
  background: var(--primary-gradient);
}
.circle {
  border-radius: 50%;
  background-color: white;
  width: 20px;
  height: 20px;
}
.btn_toggle.right {
  padding: .25rem .25rem .25rem 1.75rem;
}
/* main */
.main {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.card {
  background-color: #fff;
  border-radius: .5rem;
  padding: 1.5rem;
  text-align: center;
  width: 90vw;
  box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.25);
  max-width: 350px;
}
.card p {
  margin-bottom: 10px;
}

.card .pricing {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-weight: 700;
}

.card.basic.pricing,
.card.master.pricing {
  color: var(--dark-grayish-blue);
}

.card.professional .pricing {
  color: #fff;
}

.card .pricing h2 {
  font-size: 70px;
}

.card .pricing span {
  font-size: 30px;
}

.card ul li {
  padding: 12px 0;
  font-weight: 700;
}

.btn-more {
  padding: .75rem 3rem;
  width: 100%;
  margin-top: 30px;
  border-radius: .5rem;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}

.card.basic,
.card.master {
  color: var(--grayish-blue);
}

.card.basic h2,
.card.master h2 {
  color: var(--dark-grayish-blue);
}

.card.basic ul li,
.card.master ul li {
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}
.card.basic ul li:last-child,
.card.master ul li:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.card.basic .btn-more,
.card.master .btn-more {
  background: var(--primary-gradient);
}

.card.professional {
  background: linear-gradient(to bottom, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: #fff;
}

.card.professional ul li {
  border-top: 1px solid rgba(248, 248, 248, .25);
}
.card.card.professional ul li:last-child {
  border-bottom: 1px solid rgba(248, 248, 248, .25);
}

.card.professional .btn-more {
  color: hsl(237, 63%, 64%);
  background-color: #fff;
}

@media (min-width: 1024px) {
  body {
    background-image: url(./images/bg-top.svg), url(./images/bg-bottom.svg);
    background-repeat: no-repeat;
    background-position: top -50px right -100px, bottom -50px left -50px;
  }
  .main {
    flex-direction: row;
    gap: 0;
  }
  .card.professional {
    height: 450px;
  }
  .card.basic {
    border-radius: .5rem 0 0 .5rem;
  }
  .card.master {
    border-radius: 0 .5rem .5rem 0;
  }
}